body {
    font-family: "Raleway", sans-serif;
}

.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .navbar-brand h3 {
        font-weight: 100;
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid white;
    }
    z-index: 3;
}

#showcase {
    background: url("../images/main.jpg") bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
    #header {
        z-index: 2;
    }
    #overlay {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h1 {
        font-family: "Questrial", sans-serif;
        line-height: 1;
    }
    #book {
        font-size: 1.5rem;
        border-radius: 2rem;
    }
}

#quotes {
    i {
        opacity: 0.3;
    }
}

#pngIcon {
    background-size: 100px;
    width: 150px;
    height: 150px;
}

#cardImg {
    background-size: 515px;
    width: 515x;
    height: 360px;
}

#socialImg {
    background-size: 100px;
    width: 150px;
    height: 150px;
}

@media(max-width: 768px) {
    .navbar {
        background: #1f1f1f;
        .nav-link:hover {
            border-bottom: none;
        }
    }
    #showcase {
        min-height: 500px;
        h1 {
            font-size: 4rem;
            ;
        }
    }
}